
#container{
        position: absolute;
        width: 1200px ;
        height: 800px;
        border:2px solid #000;
        perspective: 600px;
        overflow: hidden;
    }
#world{
        position: absolute;
        width:inherit;
        height:inherit;
        transform-style:preserve-3d ;
    }
.square{
    position: absolute;
}
.menu{
    display: none;
    position: absolute;
    width: inherit;
    height: inherit;
    background-color: palevioletred;
}
.button{
    position: absolute;
    width: 900px;
    height: 200px;
    background-color: rgb(254, 240, 255);
    cursor: pointer;

}
.button:hover{
    background-color: rgb(251, 163, 211) ;
}

#button1{
    top: 50px;
    left: 150px;
}

#button2{
    top: 300px;
    left: 150px;
}

#button3{
    top: 450px;
    left: 150px;
}

#button4{
    top: 550px;
    left: 150px;
}

#button5{
    top: 400px;
    left: 150px;
}

#button6{
    top: 500px;
    left: 150px;
}

p{
    position: absolute;
    font-size: 100px;
    top:50%;
    left:50%;
    margin: 0px;
    transform: translate(-50%, -50%);
    font-family: "Cormorant Garamond", serif;
}

